<div class="">
    <div class="row p-2 mx-0">
        <div class="col-3"></div>
        <div class="col-2 font-weight-bold" id="player1"> Shounen A</div>
        <div class="col-2 font-weight-bold" id="player2"> Shounen A</div>
        <div class="col-2 font-weight-bold" id="player3"> Shounen A</div>
        <div class="col-2 font-weight-bold" id="player4"> Shounen A</div>
    </div>

    <div class="row sum-of-score p-2 mx-0">
        <div class="col-3 font-weight-bold" id="sumofScore">Sum of Score (-1)</div>
        <div class="col-2 font-weight-bold" id="score-player1"> -1</div>
        <div class="col-2 font-weight-bold" id="score-player2"> -1</div>
        <div class="col-2 font-weight-bold" id="score-player3"> -1</div>
        <div class="col-2 font-weight-bold" id="score-player4"> -1</div>
    </div>

    <div id="add-new-row">

    </div>
    <hr>

    <div class="w-100 text-center">
        <div class="btn btn-create mx-auto mt-5 px-5 py-2" id="add-round">ADD ROUND</div>
    </div>
</div>


<script>
    $(document).ready(() => {

        $.ajax({
            url: window.location.href,
            method: 'post',
            success: (res) => {
                console.log(res.score1)
                $('#player1').text(res.player1)
                $('#player2').text(res.player2)
                $('#player3').text(res.player3)
                $('#player4').text(res.player4)

                const
                    lengthOfArray = res.score1.length,
                    SOS = [0,0,0,0]

                for (let i = 0; i < lengthOfArray; i++) {


                    SOS[0] += res.score1[i].score
                    SOS[1] += res.score2[i].score
                    SOS[2] += res.score3[i].score
                    SOS[3] += res.score4[i].score

                    console.log(SOS)


                    $('#add-new-row').append(`
                            <div class="row p-2 mx-0">
                            <div class="col-3 font-weight-bold">Round ${i + 1}</div>
                            <div class="col-2 font-weight-bold">
                                <input type="text" class="w-50 input-round" value="${res.score1[i].score}"></input>                
                            </div>
                            <div class="col-2 font-weight-bold">
                                <input type="text" class="w-50 input-round" value="${res.score2[i].score}"></input>                
                            </div>
                            <div class="col-2 font-weight-bold">
                                <input type="text" class="w-50 input-round" value="${res.score3[i].score}"></input>                
                            </div>
                            <div class="col-2 font-weight-bold">
                                <input type="text" class="w-50 input-round" value="${res.score4[i].score}"></input>                
                            </div>            
                        </div>
                    `);
                }

        
                $('#score-player1').html(SOS[0])
                $('#score-player2').text(SOS[1])
                $('#score-player3').text(SOS[2])
                $('#score-player4').text(SOS[3])

                $('#sumofScore').text(`Sum of Score (${SOS[0] + SOS[1] + SOS[2] + SOS[3]})`)

            }
        })

        $('#add-round').click((event) => {
            event.preventDefault();
            $('#add-new-row').append(`
                <div class="row p-2 mx-0">
                <div class="col-3 font-weight-bold">Round -1</div>
                <div class="col-2 font-weight-bold">
                    <input type="text" class="w-50 input-round" value="0"></input>                
                </div>
                <div class="col-2 font-weight-bold">
                    <input type="text" class="w-50 input-round" value="0"></input>                
                </div>
                <div class="col-2 font-weight-bold">
                    <input type="text" class="w-50 input-round" value="0"></input>                
                </div>
                <div class="col-2 font-weight-bold">
                    <input type="text" class="w-50 input-round" value="0"></input>                
                </div>            
                </div>
            `);
        })
    })
</script>